In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=";")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [5]:
data.shape

(1599, 12)

In [6]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(data)

In [8]:
train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
36,7.8,0.600,0.14,2.40,0.086,3.0,15.0,0.99750,3.42,0.60,10.8,6
441,11.9,0.400,0.65,2.15,0.068,7.0,27.0,0.99880,3.06,0.68,11.3,6
946,10.2,0.440,0.58,4.10,0.092,11.0,24.0,0.99745,3.29,0.99,12.0,7
729,6.4,0.865,0.03,3.20,0.071,27.0,58.0,0.99500,3.61,0.49,12.7,6
1454,11.7,0.450,0.63,2.20,0.073,7.0,23.0,0.99974,3.21,0.69,10.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
997,5.6,0.660,0.00,2.20,0.087,3.0,11.0,0.99378,3.71,0.63,12.8,7
398,11.5,0.590,0.59,2.60,0.087,13.0,49.0,0.99880,3.18,0.65,11.0,6
259,10.0,0.310,0.47,2.60,0.085,14.0,33.0,0.99965,3.36,0.80,10.5,7
376,11.5,0.450,0.50,3.00,0.078,19.0,47.0,1.00030,3.26,1.11,11.0,6
818,7.1,0.715,0.00,2.35,0.071,21.0,47.0,0.99632,3.29,0.45,9.4,5

In [9]:
test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1349,6.9,0.570,0.00,2.8,0.081,21.0,41.0,0.99518,3.41,0.52,10.8,5
1493,7.7,0.540,0.26,1.9,0.089,23.0,147.0,0.99636,3.26,0.59,9.7,5
1491,5.6,0.540,0.04,1.7,0.049,5.0,13.0,0.99420,3.72,0.58,11.4,5
1436,10.0,0.380,0.38,1.6,0.169,27.0,90.0,0.99914,3.15,0.65,8.5,5
981,9.5,0.860,0.26,1.9,0.079,13.0,28.0,0.99712,3.25,0.62,10.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
381,13.7,0.415,0.68,2.9,0.085,17.0,43.0,1.00140,3.06,0.80,10.0,6
1452,6.6,0.580,0.02,2.0,0.062,37.0,53.0,0.99374,3.35,0.76,11.6,7
1005,6.8,0.360,0.32,1.8,0.067,4.0,8.0,0.99280,3.36,0.55,12.8,7
1265,7.2,0.570,0.05,2.3,0.081,16.0,36.0,0.99564,3.38,0.60,10.3,6
371,7.9,0.240,0.40,1.6,0.056,11.0,25.0,0.99670,3.32,0.87,8.7,6

In [10]:
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, accuracy_score, roc_auc_score

In [11]:
X_train = train.drop(['quality'], axis=1)
X_test = test.drop(['quality'], axis=1)

y_train = train['quality']
y_test = test['quality']

In [12]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [13]:
pred = rf.predict(X_test)

In [14]:
pred_prob = rf.predict_proba(X_test)

In [15]:
roc_auc_score = roc_auc_score(y_test, pred_prob, multi_class='ovr')

In [16]:
roc_auc_score

0.8715605856791973